<div class="posting-wrapper">
    <div class="posting-filter">
      <span class="posting-filter-label">Show:</span>
      <select class="posting-filter-menu" (change)="setFilter($event)">
        <option value="">All</option>
        <ng-container *ngFor="let tag of postingTags">
          <option value="{{tag | lowercase}}">{{tag | titlecase}}s</option>
        </ng-container>
      </select>
    </div>
    <div class="add-posting" *ngIf="!addNew; else editForm">
      <i class="fa fa-plus add-icon" title="Submit new posting" (click)="addPosting()" [style.display]="currentlyEditingIndex > -1? 'none':''"></i>
    </div>
    <ng-template #editForm>
      <form (ngSubmit)="savePosting()" #postingForm="ngForm">
        <div class="posting-content">
          <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            Title is required
          </div>
          <div class="posting-header">
            <input type="text"  [(ngModel)]="newPost.title" name="title" #title="ngModel" required placeholder="Title" autocomplete="off">
            <span>
              <i class="fa fa-times delete-icon" title="Cancel" (click)="cancelPosting()"></i>
              <i class="fa fa-save save-icon" title="Save" (click)="savePosting()"></i>
            </span>
          </div>
          <div class="posting-body">
            <textarea type="textarea" rows="5"  [(ngModel)]="newPost.text" name="text" #text="ngModel" required placeholder="Description"></textarea>
          </div>
          <div class="posting-footer">
            <ng-container *ngFor="let tag of newPost.tags">
              <span class="posting-tag">
                {{tag}}
                <i class="fa fa-times remove-tag-icon" title="Remove Tag" (click)="removeTag(tag)"></i>
              </span>
            </ng-container>
            <input list="posting-tags" placeholder="Tag:" [(ngModel)]="newPostTag" name="type" autocomplete="off">
            <datalist id="posting-tags">
              <ng-container *ngFor="let tag of postingTags">
                <option>{{tag | titlecase}}</option>
              </ng-container>
            </datalist>
            <i class="fa fa-check check-icon" title="Select" (click)="addTag()"></i>
          </div>
        </div>
      </form>
    </ng-template>

    <ng-container *ngFor="let posting of postings; let i = index">
      <div class="posting-content">
        <ng-container *ngIf="!(currentlyEditingIndex===i); else editForm">
          <div class="posting-header">
            <span>{{posting.title}}</span>
            <span>
              <i class="fa fa-edit edit-icon" title="Edit" (click)="editPosting(i, posting)" [style.display]="addNew? 'none':''"></i>
              <i class="fa fa-times delete-icon" title="Delete" (click)="deletePosting(posting.id)"></i>
            </span>
          </div>
          <div class="posting-body" [innerHtml]="posting.text"></div>
        </ng-container>
      </div>
    </ng-container>
</div>
